main { text-align: center;
}
section {
  border-style: dotted;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 400px;
  width: 300px;
  padding: 80px
}
p {
  text-align: center;

  
}
 h1 {
  font-family: "Fantasy";
  text-align: center;
  color: blueviolet;
   font-size: 48px;
  
}
h2 {
color: blueviolet;
  font-size: 36px;
}

html {
  background-image: repeating-linear-gradient(pink, rgb(250, 157, 250));
}
h3 {
color: blueviolet;
text-align: center;
font-size: 22px;
}
