main { text-align: center;
}
section {
  border-style: dotted;
}

.center {
  margin: 50px;
  padding: 80px;
  border-radius: 50%;
}
p {
  text-align: center;

  
}
 h1 {
  font-family: "Fantasy";
  text-align: center;
  
}

html {
  background-image: repeating-linear-gradient(pink, rgb(250, 157, 250));
}
h3 {

text-align: center;
}
