main { text-align: center;
}
section {
  border-style: dotted;
}

.center {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 50%;
}
p {
  text-align: center;

  
}
 h1 {
  font-family: "Fantasy";
  text-align: center;
  
}

html {
  background-image: repeating-linear-gradient(pink, rgb(250, 157, 250));
}
h3 {

text-align: center;
}
